# Staging Fly.io configuration
app = 'upsell-cross-sell-booster-st'
primary_region = 'iad'
kill_signal = 'SIGINT'
kill_timeout = '10s'

[experimental]
  auto_rollback = true

[build]

[env]
  NODE_ENV = "production"
  PORT = "3000"
  SCOPES = 'read_products,unauthenticated_write_checkouts,write_products'

[processes]
  app = 'node ./dbsetup.js npm run docker-start'

[[mounts]]
  source = 'data'
  destination = '/data'
  auto_extend_size_threshold = 80
  auto_extend_size_increment = '1GB'
  auto_extend_size_limit = '10GB'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[http_service.checks]]
  interval = '30s'
  timeout = '10s'
  grace_period = '30s'
  method = 'GET'
  path = '/'

[[vm]]
  memory = '2gb'
  cpu_kind = 'shared'
  cpus = 1